.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

.body {
  background-color: #f2f1ef;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 88px;
  padding: 24px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0);
}

.navigation-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  min-width: 120px;
  padding: 12px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 48px;
  background-color: #bf0404;
  outline-color: transparent;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Sora, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.navigation-button:hover {
  background-color: #000;
}

.logo {
  width: 124px;
}

.navigation-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-link {
  padding: 12px 24px;
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #160042;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-link:hover {
  background-color: #dbdbdb;
  color: #160042;
}

.navigation-link.w--current {
  color: #642eff;
}

.header-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 72px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1.1fr;
  grid-template-columns: 1fr 1.1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 24px;
}

.hero-heading {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Sora, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 68px;
  letter-spacing: -0.02em;
}

.arrow-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  margin-right: 18px;
  padding: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #bf0404;
  border-radius: 100px;
}

.arrow-circle:hover {
  background-color: #bf0404;
}

.header-section {
  position: static;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 0px 5% 43px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.header-paragraph {
  max-width: 600px;
  margin-top: -26px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: Sora, sans-serif;
  color: #565656;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.button-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #202020;
  font-size: 18px;
  letter-spacing: -0.04em;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  padding: 14px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #202020;
  border-radius: 8px;
  background-color: #202020;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Sora, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.button-hero:hover {
  background-color: hsla(0, 0%, 100%, 0);
  color: #271d0c;
}

.hero-image {
  height: 100%;
  clear: none;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-block {
  max-width: 600px;
}

.image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-banniere {
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin-top: -74px;
  margin-bottom: -86px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -o-object-fit: fill;
  object-fit: fill;
}

.banniere {
  overflow: visible;
  width: 302%;
  background-color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block {
  overflow: hidden;
  margin-top: -55px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Sora, sans-serif;
  color: #fff;
  font-size: 16px;
}

.text-span {
  color: #bf0404;
}

.text-span-2 {
  color: #bf0404;
}

.text-span-3 {
  color: #bf0404;
}

.text-span-4 {
  color: #bf0404;
}

.text-span-5 {
  color: #bf0404;
}

.text-span-6 {
  color: #bf0404;
}

.bold-text {
  font-family: Sora, sans-serif;
  color: #000;
}

.bold-text-2 {
  font-family: Sora, sans-serif;
  color: #000;
}

.bold-text-3 {
  font-family: Sora, sans-serif;
  color: #000;
}

.bold-text-4 {
  font-family: Sora, sans-serif;
  color: #000;
}

.text-block-2 {
  font-family: Sora, sans-serif;
}

.content-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 92px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-feature-grid {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 0.25fr;
  grid-template-columns: 1fr 1fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-container {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.feature-card {
  padding: 24px 16px;
  border-radius: 14px;
  background-color: #bf0404;
  text-align: center;
}

.feature-number {
  margin-bottom: 10px;
  font-family: Sora, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.le-studio {
  padding: 69px 5% 0px;
}

.feature-text {
  font-family: Sora, sans-serif;
  color: #fff;
}

.milestone-line-top {
  width: 4px;
  height: 50%;
  margin-bottom: auto;
  background-color: #bf0404;
}

.container-2 {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.title-wrapper {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 92px;
  margin-left: auto;
  text-align: center;
}

.heading-large {
  margin-bottom: 0px;
  font-family: Sora, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.block-empty {
  padding: 20px;
}

.milestone-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline-row {
  margin-top: -14px;
  margin-right: 30px;
  padding-left: 30px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". . Area";
  -ms-grid-columns: 1fr 0px minmax(20px, 80px) 0px 1fr;
  grid-template-columns: 1fr minmax(20px, 80px) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.paragraph-standard {
  margin-top: -5px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: Sora, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.nos-services {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 50px 5% 140px 13%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(245, 249, 255, 0);
}

.milestone-line-bottom {
  width: 4px;
  height: 50%;
  margin-top: auto;
  background-color: #bf0404;
}

.card-timeline-large {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 16px;
  background-color: #fff;
}

.card-timeline-large.mouse-animation-droite {
  padding: 20px 20px 20px 76px;
}

.card-timeline-large.mouse-animation-gauche {
  padding: 20px 20px 20px 76px;
}

.milestone-circle {
  position: absolute;
  top: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #bf0404;
  border-radius: 100px;
  background-color: #f5f9ff;
}

.milestone-line {
  width: 4px;
  height: 100%;
  background-color: #bf0404;
}

.milestone-inner-circle {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: #bf0404;
}

.gallery-image-medium {
  position: relative;
  height: 360px;
  margin-bottom: 40px;
}

.gallery-image-large {
  position: relative;
  height: 432px;
  margin-bottom: 40px;
}

.gallery-image-small {
  position: relative;
  height: 288px;
  margin-bottom: 40px;
}

.cursor {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.cursor_dot {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  background-color: #bf0404;
}

.gallery-link-block-overlay-text {
  padding-left: 34px;
  background-image: none;
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.gallery-divider {
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #121212;
}

.gallery-header-wrap {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.gallery-video-item {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}

.gallery-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-tabs-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.gallery-link-block-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #e5e5e5;
  font-size: 36px;
  line-height: 48px;
}

.gallery-link-block-overlay:hover {
  opacity: 0.8;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.5);
  background-image: none;
  background-position: 55% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.play-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.gallery-image {
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery-tabs-wrap {
  position: relative;
  text-align: right;
}

.gallery-tab-link-2 {
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 12px 24px;
  border-bottom: 2px solid transparent;
  border-radius: 30px;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Sora, sans-serif;
  color: #e5e5e5;
  font-size: 22px;
  line-height: 24px;
}

.gallery-tab-link-2:hover {
  background-color: #262626;
}

.gallery-tab-link-2.w--current {
  background-color: hsla(0, 0%, 100%, 0.1);
  font-family: Sora, sans-serif;
}

.gallery-image-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  background-position: 50% 50%;
  background-size: 64px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #e5e5e5;
  font-size: 36px;
  line-height: 48px;
  cursor: pointer;
}

.gallery-image-overlay:hover {
  opacity: 1;
}

.portfolio {
  overflow: hidden;
  padding: 50px 3% 10px;
  background-color: #000;
  color: #999;
}

.gallery-grid-2 {
  margin-bottom: 60px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-tabs {
  position: relative;
  text-align: left;
}

.gallery-image-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}

.gallery-link-block {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}

.text-span-7 {
  color: #fff;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-link {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #160042;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.footer-link:hover {
  color: #642eff;
}

.footer-social-row-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(243, 245, 251, 0);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #000;
}

.footer-social-link:hover {
  background-color: #dbdbdb;
  color: #bf0404;
}

.footer-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-line-small {
  width: 1px;
  height: 16px;
  margin-right: 24px;
  margin-left: 24px;
  background-color: #e4e6f1;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon:hover {
  color: #bf0404;
}

.footer-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-line-standard-small {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #e4e6f1;
}

.footer-logo-link {
  margin-bottom: 16px;
}

.container-large-2 {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.section-footer {
  position: relative;
  padding: 32px 5%;
  opacity: 1;
}

.icon-2 {
  position: absolute;
  left: 4%;
  top: 40%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #bf0404;
}

.container-large {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-regular {
  font-family: Sora, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.table-mid-row {
  padding: 8px;
}

.table-bottom {
  display: none;
  width: 100%;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.table-all-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 224px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.section-large {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 5% 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table-info-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 510px;
  padding: 8px 24px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.icon-star {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.table-row-grid {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-column-gap: 40px;
  -ms-grid-columns: 0.4fr 2fr 1.5fr;
  grid-template-columns: 0.4fr 2fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.table-chevron-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.table-chevron-wrap.disable-button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #b0bcbf;
}

.table-card {
  margin-right: -8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccd4d6;
  border-radius: 8px;
}

.table-row {
  padding: 16px;
  border-radius: 8px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.table-row:hover {
  background-color: #e9eced;
}

.caption-regular {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.caption-regular.text-color-gray-700 {
  color: #49575a;
}

.table-full-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table-grid-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.table-page-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4px;
}

.icon-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.table-line {
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #e9eced;
}

.table-page-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 8px;
  color: #49575a;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.table-page-number:hover {
  outline-color: #ccd4d6;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.table-page-number:active {
  background-color: #e9eced;
  color: #1c2122;
}

.table-page-number.active-button {
  background-color: #e9eced;
  color: #1c2122;
}

.image {
  display: inline-block;
}

.footer-text {
  font-family: Sora, sans-serif;
  color: #000;
  font-size: 12px;
}

.formulaire {
  display: none;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 11px 7px rgba(0, 0, 0, 0.22);
  opacity: 1;
}

.radio-button {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 10px;
  border: 2px solid #aeafc5;
}

.radio-button.w--redirected-checked {
  border-color: #5f30e2;
}

.button-wrap-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.form-block {
  margin-right: auto;
  margin-left: auto;
}

.check-wrap {
  margin-top: 1px;
  margin-bottom: 5px;
}

.title-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #7b88a8;
  text-align: left;
}

.field-wrap {
  margin-bottom: 24px;
}

.radio-button-field {
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.field-grid {
  grid-row-gap: 0px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.radio-button-label {
  margin-bottom: 0px;
  color: #8687a8;
}

.form-wrap {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.success-message {
  border-radius: 8px;
  background-color: #5f30e2;
  color: #fff;
}

.check-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.prealoder {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999999;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f1ef;
}

.div-block {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #bf0404;
}

@media screen and (max-width: 991px) {
  .navigation-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navigation {
    position: relative;
  }

  .logo-link {
    margin-right: 0px;
  }

  .menu-button {
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #f3f5fb;
    border-radius: 8px;
    color: #393b6a;
  }

  .menu-button.w--open {
    border-color: #fff;
    background-color: #160042;
  }

  .navigation-menu {
    position: absolute;
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    color: #393b6a;
  }

  .navigation-menu.w--open {
    border-color: #fff;
    background-color: #282556;
  }

  .navigation-link {
    width: 100%;
  }

  .header-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-block {
    margin-right: auto;
    margin-left: auto;
  }

  .content-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .le-studio {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .nos-services {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery-tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -3%;
    margin-left: -3%;
    padding-right: 300px;
    padding-bottom: 40px;
    padding-left: 3%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gallery-image {
    width: 100%;
  }

  .gallery-tab-link-2 {
    margin-right: 20px;
    font-size: 20px;
  }

  .gallery-grid-2 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .footer-social-row-large {
    margin-left: 0px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-social-grid {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .table-bottom {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-row-gap: 24px;
  }

  .table-all-page-wrap {
    margin-right: auto;
  }

  .table-info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 14px;
    text-align: center;
  }

  .table-card {
    width: 1040px;
  }

  .table-full-wrapper {
    overflow: scroll;
  }

  .formulaire {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .content-grid {
    grid-row-gap: 60px;
  }

  .le-studio {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .title-wrapper {
    margin-bottom: 60px;
  }

  .block-empty {
    display: none;
  }

  .milestone-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .timeline-row {
    -ms-grid-columns: minmax(20px, 60px) 1fr;
    grid-template-columns: minmax(20px, 60px) 1fr;
  }

  .card-timeline-large {
    margin-bottom: 32px;
  }

  .gallery-image-medium {
    height: 200px;
  }

  .gallery-image-large {
    height: 200px;
  }

  .gallery-image-small {
    height: 200px;
  }

  .gallery-link-block-overlay-text {
    padding-left: 30px;
  }

  .gallery-divider {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .gallery-header-wrap {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gallery-tabs-menu {
    position: static;
    margin-right: 0%;
    margin-left: 0%;
    padding-top: 60px;
    padding-right: 0px;
    padding-left: 0%;
  }

  .gallery-link-block-overlay {
    font-size: 24px;
    line-height: 30px;
  }

  .gallery-tab-link-2 {
    margin-right: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery-grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .heading-wrapper {
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 479px) {
  .navigation-button {
    display: none;
  }

  .hero-heading {
    font-size: 15vw;
    line-height: 18vw;
  }

  .header-paragraph {
    font-size: 18px;
    line-height: 30px;
  }

  .button-wrapper {
    max-width: 260px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button-hero {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-block {
    text-align: center;
  }

  .content-feature-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .milestone-block {
    display: none;
  }

  .timeline-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .nos-services {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .gallery-image-medium {
    margin-bottom: 20px;
  }

  .gallery-image-large {
    margin-bottom: 20px;
  }

  .gallery-image-small {
    margin-bottom: 20px;
  }

  .gallery-video-item {
    border-radius: 20px;
  }

  .gallery-tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .gallery-image {
    border-radius: 20px;
  }

  .gallery-tab-link-2 {
    text-align: center;
  }

  .gallery-grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .gallery-image-wrap {
    border-radius: 20px;
  }

  .gallery-link-block {
    border-radius: 20px;
  }

  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-line-small {
    display: none;
  }

  .form-wrap {
    padding: 24px;
  }

  .check-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

#w-node-_4edc412f-d122-241b-96eb-ee90582dcaa5-deda41d0 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9955c69b-0ac3-59da-48ae-39685c6c12e0-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2ecba96b-b916-a4c1-3e94-32e233798601-deda41d0 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area;
}

#w-node-_1b0d8025-14b5-2ec2-f3a3-639d530d8780-deda41d0 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1b0d8025-14b5-2ec2-f3a3-639d530d8796-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1b0d8025-14b5-2ec2-f3a3-639d530d87df-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f4524ee7-1c9e-38ff-7179-becd5b9ce9c5-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e8eee8e9-6ee3-ddd5-1fc9-0ef757ed6ead-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-e8eee8e9-6ee3-ddd5-1fc9-0ef757ed6eae-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79a12af0-ec6b-30dd-da69-13e8677fd15d-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_79a12af0-ec6b-30dd-da69-13e8677fd15e-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ac041cd4-0244-92df-1e13-d58756bdfe7e-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-ac041cd4-0244-92df-1e13-d58756bdfe7f-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1b0d8025-14b5-2ec2-f3a3-639d530d8812-deda41d0 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1b0d8025-14b5-2ec2-f3a3-639d530d8828-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f0675f9d-05fd-a048-0de9-ce699c1f481a-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d7b31fb5-a34b-58f6-2448-2bb6093fd598-deda41d0 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_4e374de3-5da6-eb84-441a-f0b5aae73999-deda41d0 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_4e374de3-5da6-eb84-441a-f0b5aae739af-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_69141343-ee89-1b43-32e6-4f909dbd6a42-deda41d0 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_69141343-ee89-1b43-32e6-4f909dbd6a58-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa38-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa3b-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa4b-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa52-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa55-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa65-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa6c-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa6f-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa7f-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa86-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa89-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e47da940-772e-4f9e-3cb3-595dd3ebfa99-deda41d0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4ac4c3f5-705f-1e78-e19b-cd446add442b-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_95a4f4f1-5b0a-71cc-0239-395c9766d11a-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_95a4f4f1-5b0a-71cc-0239-395c9766d137-deda41d0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_2ecba96b-b916-a4c1-3e94-32e233798616-deda41d0 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_2ecba96b-b916-a4c1-3e94-32e233798636-deda41d0 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

